
# Rename this file to .controlFreakToken.tok and paste in a proper HTTP
# authorization token from Bitbucket!
# (But be careful to never save this file to git or push it)
#
NDU0MTU0MDk55Tasdfj234lFKSw0KO/PXu9M5lwnZln

